# gradle
.gradle
**/build/
!**/src/**/build/
out/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignoring Gradle wrapper properties
!gradle-wrapper.properties

# Cache of project
.gradletasknamecache

# eclipse
.project
.classpath
.settings/
bin/

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.vscode/

# fabric
run/

# macos
.DS_Store